[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".local/bin/asdf"]
	path = .local/bin/asdf
	url = https://github.com/asdf-vm/asdf.git
	branch = v0.14.0
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:tgsl8r/nvim.git
