/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "colour.css";

/*
  Polar Night
  nord0  #2e3440
  nord1  #3b4252
  nord2  #434c5e
  nord3  #4c566a
  Snow Storm
  nord4  #d8dee9
  nord5  #e5e9f0
  nord6  #eceff4
  Frost
  nord7  #8fbcbb
  nord8  #88c0d0
  nord9  #81a1c1
  nord10 #5e81ac
  Aurora
  nord11 #bf616a
  nord12 #d08770
  nord13 #ebcb8b
  nord14 #a3be8c
  nord15 #b48ead
  */

/* -----------------------------------------------------------------------------
   * Base styles
   * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
  color: @white; /*@lavender;*/
  border: 0;
  padding: 0 0;
  margin: -4;
  font-family: "Atkinson Hyperlegible Nerd Font";
  font-size: 12px;
  /* font-weight: bold; */
  /* padding-bottom:4px;
      padding-top: 4px; */
  transition: all 0.5s ease;
}

window#waybar {
  border-bottom: 0px solid shade(@base, 1.1);
  /* border-radius: 10px; */
  /* background:#2d2a2e; */
  /* background-color: rgba(36, 39, 58, 0.85); */
  /* background-color: rgba(0, 0, 0, 0); */
  background-color: shade(@base, 1);/*shade(#1e1e2e, 0.95);*/
}

#tags button {
  color: @base;
  border-radius: 50%;
  /* background-color: @base; */
  margin-left: 5px;
  margin-right: 1px;
  padding: 0 3 0 3; /*2 6 2 6*/
}

#tags button.urgent * {
  color: @base;/*@mauve;*/
}

#tags button.urgent {
  color: @base;/*@mauve;*/
  box-shadow: none;
  /* Remove predefined box-shadow */
  text-shadow: none;
  /* Remove predefined text-shadow */
  border: 0px;
  border-radius: 10px;
  background: none;
}

/* #tags * { */
/*   color: whitesmoke; */
/* } */

#tags {
  border-style: solid;
  background-color: @base;
  opacity: 1;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}

#tags button.occupied {
  color: @blue;
  border-radius: 20px;
  /* background-color: @flamingo; */
}

#tags button.focused * {
  color:@red;
}

#clock,
#custom-swap,
#custom-clipboard,
#custom-background,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#mpd {
  padding: 5px 8px;
  border-style: solid;
  background-color: shade(@base, 1.1);
  opacity: 1;
  margin: 8px 0;
}

/* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */

#mode {
  border-radius: 10px;
  color: @mauve;
  margin-right: 5px;
}

#mpd {
  border-radius: 10px;
  color: @base;/*@mauve;*/
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#mpd.2 {
  border-radius: 10px 0px 0px 10px;
  margin: 8px 0px 8px 6px;
  padding: 4px 12px 4px 10px;
}

#mpd.3 {
  border-radius: 0px 0px 0px 0px;
  margin: 8px 0px 8px 0px;
  padding: 4px;
}

#mpd.4 {
  border-radius: 0px 10px 10px 0px;
  margin: 8px 0px 8px 0px;
  padding: 4px 10px 4px 14px;
}

#mpd.2,
#mpd.3,
#mpd.4 {
  background-color: @base;
  font-size: 14px;
}

#custom-swap {
  border-radius: 10px;
  color: @base;/*@mauve;*/
  margin-left: 10px;
  background-color: @base;
}

#custom-background {
  border-radius: 0px 10px 10px 0px;
  background-color: @base;
  color: white;
  padding: 5px 14px 5px 5px;
}

#clock {
  /* background-color:#a3be8c; */
  color: @white;/*@mauve;*/
  border-radius: 10px;
  margin: 8px 10px;
}

#backlight {
  color: @yellow;
  /* border-bottom: 2px solid @yellow; */
  border-radius: 10px 0 0 10px;
}

#battery {
  color: @white;
  /* border-bottom: 2px solid #d8dee9; */
  border-radius: 0px 0px 0px 0px;
  margin-right: 10px;
}

#battery.charging {
  color: @white;
  /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
  to {
    color: @red;
    /* border-bottom: 2px solid @red; */
  }
}

#battery.critical:not(.charging) {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @white;
  /* border-bottom: 2px solid @sky; */
}

#cpu #cpu-icon {
  color: @white;
}

#memory {
  color: @white;
  /* border-bottom: 2px solid #d8dee9; */
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

/* #memory { */
/*   color: @sky; */
/* } */

#network.disabled {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#network {
  color: @white;
  /* border-bottom: 2px solid @green; */
  border-radius: 0px;
  margin-right: 0px;
}

#network.disconnected {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
  color: @white;
  /* border-bottom: 2px solid @flamingo; */
  border-radius: 0px 10px 10px 0px;
  margin-right: 0px;
}

#pulseaudio.muted {
  color: #3b4252;
  /* border-bottom: 2px solid #3b4252; */
  border-radius: 0px 10px 10px 0px;
  margin-right: 0px;
}

#temperature {
  color: @teal;
  /* border-bottom: 2px solid @teal; */
  border-radius: 10px 0 0 10px;
}

#temperature.critical {
  color: @red;
  /* border-bottom: 2px solid @red; */
}

#idle_inhibitor {
  background-color: #ebcb8b;
  color: @white;
}

#tray {
  /* background-color: @base; */
  margin: 0px;
  margin-right: 20px;
  border-radius: 2px;
}

#custom-launcher,
#custom-power {
}

#custom-launcher {
  font-size: 20px;
  background-color: shade(@base, 1.1);
  color: @white;
  border-radius: 0px 15px 0px 0px;
  padding: 5px 10px 5px 10px;
}

#custom-power {
  font-size: 20px;
  color: @red;
  background-color: shade(@base, 1.1);
  border-radius: 15px 0px 0px 0px;
  padding: 10px 5px 10px 5px;
}

#window {
  border-style: hidden;
  margin-left: 10px;
  /* margin-top:1px;  
      padding: 8px 1rem; */
  margin-right: 10px;
  color: #eceff4;
}

/* window#waybar {
      background: #2d2a2e;
  }
  
  * {
      color: #c8b9a9;
      font-family: Ubuntu Mono, sans-serif;
      font-size: 12px;
  }
  
  #tags button.focused {
      color: #f2e5bc;
  }
  
  #tags button {
      color: #c8b9a9;
  }
  
  .separator {
      background-color: #c8b9a9;
  }
  
  #mode {
      color: #ebcb8b;
  }
  
  #clock {
      color: #a3be8c;
  }
  
  #battery {
      color: #d8dee9;
  }
  
  #battery.charging {
      color: #b48ead;
  }
  
  #battery.critical:not(.charging) {
      color: #bf616a;
  }
  
  #cpu {
      color: #a3be8c;
  }
  
  #memory {
      color: #d3869b;
  }
  
  #network {
      color: #8fbcbb;
  }
  
  #network.disabled {
      color: #bf616a;
  }
  
  #network.disconnected {
      color: #bf616a;
  }
  
  #pulseaudio {
      color: #b48ead;
  }
  
  #pulseaudio.muted {
      color: #bf616a;
  }
  
  #temperature {
      color: #8fbcbb;
  }
  
  #temperature.critical {
      color: #bf616a;
  } */
